QPlainTextEdit {
    background-color: #2B2B2B;
    color: #D4D4D4; /* Light Gray for better visibility */
    font-family: Consolas;
    font-size: 14px;
}

QMenuBar {
    background-color: #333333;
    color: #FFFFFF;
}

QMenuBar::item:selected {
    background-color: #555555;
}

QMenu {
    background-color: #444444;
    color: #FFFFFF;
}

QMenu::item:selected {
    background-color: #666666;
}
